@model WMart.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .header{
            padding : 0px 20px 40px 20px;
            margin:auto;
            float:left;
            width:100%;
            height:200px;
            background-color:#F5F5F5;
        }
        .width40px{
            padding-left:20em;
            margin :auto;
            z-index:30;
        }
        .background{
            background-color:antiquewhite;
            width:100%; /*please dont alter the values*/
            height:100%;/*please dont alter the values*/
        }
        .headings{
            text-wrap:normal;
            font-weight:bold;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:25px;
            color:black;
            text-align:justify;
            padding-left:3em;
        }
        .btn a{
            color: white;
            
        }
        body{
            background-color: #F1F1F1; 
        }
    </style>
</head>
<body>
    
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="page-header">
                <h1>  <img src="~/scripts/Images/logo.png" width="70" height="60" ; /><span style="margin-top:3em"> WMart</span></h1>
            </div>
        </div>
        <div class="section" style="background-color:#F5F5F5;">
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><h4>Employee Details</h4></div>
                    <div class="width40px">
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>EmailID</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.ValidationSummary()

                                        <tr>
                                            <td>Customer Name</td>
                                            <td>@Html.TextBoxFor(x => x.Name)</td>
                                        </tr>
                                        <tr>
                                            <td>Customer EmailID</td>
                                            <td>@Html.TextBoxFor(x => x.Email)</td>
                                        </tr>
                                        <tr>
                                            <td>Customer Phone</td>
                                            <td>@Html.TextBoxFor(x => x.Phone)</td>
                                        </tr>
                                        <tr>
                                            <td>Will Attend?</td>
                                            <td>@Html.DropDownListFor(x => x.willAttend, new[] { new SelectListItem { Text = "Yes I Will Attend", Value = bool.TrueString }, new SelectListItem { Text = "No I Will Attend", Value = bool.FalseString } }, "Choose an option")</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="submit" id="SubmitRSVP" class="btn-block btn btn-success"  /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    
</body>
</html>
